body {
    background-color: #05080c;
    background-image:
        linear-gradient(rgba(5, 8, 12, 0.85), rgba(5, 8, 12, 0.85)),
        url('../image/LogoAndBackground/Background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #e5e7eb;
}

/* Hiệu ứng gõ chữ */
.typing-animation {
    border-right: 2px solid #10b981;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #10b981;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0a0f16;
}

::-webkit-scrollbar-thumb {
    background: #047857;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #10b981;
}

/* Glitch effect cho tên */
.glitch-hover:hover {
    text-shadow: 2px 0 #10b981, -2px 0 #ff00c8;
    transition: all 0.2s;
}